@media only screen and (max-width:768px){
    .bar{
        display: block;
    }
    .menu{
        position: absolute;
        top: 150px;
        left: -100%;
        transition: 0.3s;
    }
    .menu.active{
        left: 0;
    }
    body.active{
        overflow-y: hidden;
    }
    .menu ul{
        display: block;
        width: 100%;
        height: 100%;
        background: #908a85;
    }
    .menu ul li {
        text-align: center;
        padding: 10px 0;
    }
    .menu{
        background: #908a85;
        width: 100%;
        height: 100%;
        display: block;
    }
    .container-header{
        width: 100%;
    }
    .title-banner h2 {
        font-size: 51.67px;
    }
    .toggle.active .bar:nth-child(2){
        opacity: 0;
    }
    .toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .item-letgo{
        display: block;
    }
    .content-item {
        width: 100%;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
    }
    .des-item {
        font-size: 16.92px;
    }
    .container-discount{
        display: block;
    }
    .img-discount{
        width: 100%;
    }
    .item-discount{
        width: 80%;
        padding-top: 80px;
        padding-left: 0px;;
    }
    .content-discount{
        max-width: 85%;
        margin: 0 auto;
    }
    .title-discount h2 {
        font-size: 42.33px;
    }
    .des-discount p {
        font-size: 19.17px;
    }
    .content-promo{
        width: 85% !important;
    }
    .explore {
        height: 600px;
    }
    .img-hiking {
        bottom: -110px;
    }
    .title-explore {
        padding-top: 250px;
        padding-right: 65px;
    }
    .title-hiking h2 {
        font-size: 38.33px;
    }
    .des-hiking p {
        font-size: 21.17px;
    }
    .items-news{
        display: block;
    }
    .item-news{
        width: 80%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 30px;
    }
    .title-news h2 {
        font-size: 25.33px;
    }
    .des-news p {
        font-size: 14.75px;
    }
    .form-contact form input {
        font-size: 17px;
    }
    .form-contact form button{
        height: 52px;
        width: 130px;
        font-size: 17px;
    }
    footer {
        height: auto;
        padding-bottom: 50px;
    }
    .item-footer{
        width: 100%;
    }
    .title-menu-footer h2 {
        font-size: 26.6px;
    }
    .content-menu-footer ul li a {
        font-size: 15.7px;
    }
    .content-menu{
        margin-right: 0px;
    }
    .des-footer p {
        font-size: 15.7px;
        width: 90%;
        margin: 20px auto;
    }
    .menu ul li a {
        font-size: 21.67px;
    }
    .toggle{
        display: block;
    }
    .item-promo {
        padding-bottom: 50px;
        width: 80%;
        padding-left: 0px;
    }
    .des-letgo{
        width: auto;
    }
    .des-here p {
        font-size: 15.72px;
        margin-bottom: 30px;
    }
    .title-here h2 {
        font-size: 42px;
        margin-bottom: 35px;
    }
    .title-footer h2 {
        font-size: 26.6px;
    }
    .here {
        padding-bottom: 150px;
    }
    .title-banner {
        width: 345px;
    }
    .title-letgo h2 {
        font-size: 37.5px;
    }
    .des-letgo p{
        font-size: 17.08px;
    }
    .show-more a {
        font-size: 15.15px;
    }
    .letgo {
        padding-bottom: 80px;
    }
}